@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Telavision';
  src: url("../fonts/Telavision.ttf");
}

html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', 'Verdana', sans-serif;
  margin: 0;
  position: relative;
  background-color: #f9f9f9;
}

a {
  color: inherit;
  text-decoration: inherit;
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

circle {
  fill: rgba(255, 255, 255, 0.1);
}

.container,
body.single .content {
  width: 1000px;
  margin: 0 auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

img.size-medium {
  margin: 8px 16px;
}

.transition,
#nav,
#nav .menu li a {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#footer {
  width: 100%;
  height: 100px;
  background-color: #000;
  color: white;
}

body.home #cover {
  position: relative;
  width: 100%;
  height: 500px;
  background: transparent url(http://lorempixel.com/1300/500) no-repeat center top/100% auto;
}

body.home #cover:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

body.home #about-us {
  position: relative;
  width: 1000px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

body.home #about-us .right {
  position: absolute;
  text-align: center;
  right: 0;
  width: 50%;
  height: inherit;
  background-color: rgba(156, 39, 176, 0.75);
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  font-family: 'Telavision';
  letter-spacing: 2px;
  height: 40px;
  line-height: 40px;
}

#nav.ui-scrollfix {
  background-color: #9c27b0;
  height: 56px;
  line-height: 56px;
}

#nav .menu {
  width: 1200px;
  height: inherit;
  color: white;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

#nav .menu li {
  float: left;
  padding: 0 16px;
  position: relative;
  overflow: hidden;
}

#nav .menu li a {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
}

#nav .menu li a:hover {
  border-color: white;
}

body.single .featured-image {
  position: relative;
  width: 100%;
  height: 500px;
  background-size: 100% auto;
  background-position: center top;
  z-index: 700;
}

body.single .content {
  position: relative;
  background-color: #f9f9f9;
  margin-top: -300px;
  padding: 8px 16px;
  display: block;
  z-index: 800;
}

body.single .content .title {
  position: absolute;
  top: -100px;
  color: white;
}

body.single .content .article-overlay {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: block;
}

body.single .content .article-overlay img.size-full {
  width: 100%;
  height: auto;
}