body.page-template-viewsservices-php {
	padding-top: $navHeight + $subNavHeight + $subNavHeight;
		
	.services {
		.cover {
			height: $gridUnit * 60;
			background-attachment: fixed;
			
			.synth-img-cover {
				position: absolute;
				
				@include containerMiddle();
			}
		}
	}
}