body.home {
	#about-us {
		@extend .transition;
		
		height: 40%;
		
		.left,
		.right {
			@extend .transition;
			transition-duration: .7s;
			transition-delay: 1s;
			width: 50%;
			height: 100%;
			position: absolute;
			text-align: center;
		}
		
		.left {
			width: 100%;
			background-color: $colorPrimary;
			color: $textColorPrimaryInverse;
			fill: $textColorPrimaryInverse;
			font-size: 1.5em;
			z-index: map-get($zIndex, content);
			
			@include shadow('right');
			
			.wrapper {
				position: absolute;
				
				@include containerMiddle();
				
				.synth-logo {
					height: $gridUnit * 10;
					display: block;
					margin: $gridUnit;
				}
			}
			
			&:after {
				@include waves(.6);
			}
		}
		
		.right {
			right: 25%;
			
			.wrapper {
				@include containerMiddle();
			}
			
		}
		
		&.active {
			.left {
				width: 50%;
				left: 0;
				
				&:after {
					background-size: 100% 100%;
				}
			}
			
			.right {
				right: 0;
			}
		}
	}
}