#footer {
	@extend .transition;

	width: 100%;
	height: $footerHeight;
	position: relative;
	background-color: $windowBlack;
	color: $textColorPrimaryInverse;
	
	.container {
		@extend .container;
		padding: $gridUnit *2;
		height: inherit;
	}
	
	.twitter {
		.title {
			display: none;
		}
	}
	
	
	
	
/*
	.copyright,
	.synth-logo {
		
		@include height($gridUnit * 4);
		bottom: $gridUnit * 3;
		padding: $gridUnit $gridUnit*2;
	}
*/
	.copyright {
		position: absolute;
		border-top: 1px solid rgba($textColorPrimaryInverse, .4);
		bottom: 0;
		padding: $gridUnit 0 $gridUnit*2;
		width: 100%;
		
		
		.content,
		.synth-logo {
			height: $gridUnit * 3;
		}
		
		.content {
			font-size: .8em;
			color: rgba($textColorPrimaryInverse, .4);
			display: table-cell;
			vertical-align: bottom;
		}
		
		.synth-logo {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(0, -50%);
			fill: $colorPrimary;
		}
	}
}