#footer {
	@extend .transition;

	width: 100%;
	min-height: $footerHeight;
	position: relative;
	background-color: $windowBlack;
	color: rgba($textColorPrimaryInverse, .4);
	
	.container {
		@extend .container;
		padding: $gridUnit *2;
		width: $navWidth;
		height: inherit;		
	}
	
	.social {
		padding-bottom: $gridUnit;
		&:after {
			@include pseudoClear();
		}
	}
	
	.menu-social-container {
		
		.title {
			font-size: 1.2em;
			text-align: left;
		}
		
/*
		.synth-logo {
			padding: 0 $gridUnit;
			height: 1.2em;
			fill: $colorPrimary;
		}
*/
		
		.menu {
			padding: 0;
			margin: 0;
						
			.menu-item {
				display: block;
				padding: $gridUnit/2 0;
				font-size: .9em;
				
				a:before {
					font-size: 16px;
					margin-right: $gridUnit;
				}
			}
		}
	}
	
	.copyright {
		font-size: .8em;
		border-top: 1px solid rgba($textColorPrimaryInverse, .4);
		padding: $gridUnit 0 0;
		width: 100%;
		
		
/*
		.content,
		.synth-logo {
			height: $gridUnit * 3;
		}
		
		.content {
			
			display: table-cell;
			vertical-align: bottom;
		}
		
		.synth-logo {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(0, -50%);
			fill: $colorPrimary;
		}
*/
	}
}