#nav {
	overflow: hidden;
	letter-spacing: 2px;
	position: fixed;
	width: 100%;
	top: 0;
	font-size: 1.2em;
	z-index: map-get($zIndex, nav);
	
	@include height($navHeightInitial);
	
	li {
		float: left;
	}
	
	&.ui-scrollfix {
		background-color: rgba($windowBackground, .98);
		@include height($navHeight);
		@include shadow();
		
		.home {
			transition-duration: .55s;
			background-color: transparent;
			width: 150px;
			margin-right: 0;
			overflow: hidden;
			
			.synth-logo {
				fill: $colorPrimary;
				left: 15px;
				
				path {
					display: block;
				}
			}	
		}
		
		.menu {
			li {
				border-color: $windowBorder;
				border-width: 0 0 0 1px;
				border-style: solid;
				
				a {
					color: $textColorPrimary;
					margin: 0;
					padding: 0 $gridUnit*2;
					border: 0 none;
					height: 100%;
					display: block;
					
					&:hover {
						background-color: rgba($textColorPrimary, .05);
					}
				}
				
				&:last-of-type {
					border-width: 0 1px 0;
				}
				
				&.current-menu-item,
				&.current-page-ancestor {
					border-bottom: 5px solid $colorPrimary;
					height: $navHeight;
					a {
						background-color: rgba($textColorPrimary, .05);
					}
				}
			}
		}
	}
}

#menu-nav {
	float: left;
}

#menu-social {
	float: right;
	letter-spacing: normal;
	font-size: 0px;
	
	li a {
		border: 0 none;
	}
	
	a:before {
		@extend .icon;
	}
}