.menu-item {
	display: inline-block;
	vertical-align: top;
	
	&.facebook {
		a {
			@extend .icon-facebook;
		}
	}
		
	&.twitter {
		a {
			@extend .icon-twitter;
		}
	}
	
	&.instagram {
		a {
			@extend .icon-instagram;
		}
	} 
	
	a:before {
		@extend .icon;
	}
}
