$gridUnit: 8px;






$colorPrimary: #fa8b08;
$colorPrimaryLight: #ba68c8;
$colorPrimaryDark: #6a1b9a;

$colorAccent: #ff4081;
$colorAccentLight: #ff80ab;
$colorAccentDark: #f50057;

$textColorPrimary: #6d727c;
$textColorPrimaryInverse: #fff;


$windowBackground: #f9f9f9;
$windowBlack: #393D42;
$windowBorder: rgba($windowBlack, .12);


/**
* Layout
*/

$containerWidth: 1056px;

$navHeightInitial: 40px;
$navHeight: 56px;


$footerHeight: 136px;

$subNavHeight: $navHeight + $gridUnit*2;
$navWidth: $gridUnit * 150;
