$gridUnit: 8px;


$containerWidth: 1000px;


$navHeight: $gridUnit * 5;
$navWidth: $gridUnit * 150;



$colorPrimary: #9c27b0;
$colorPrimaryLight: #ba68c8;
$colorPrimaryDark: #6a1b9a;

$colorAccent: #ff4081;
$colorAccentLight: #ff80ab;
$colorAccentDark: #f50057;


$textColorPrimary: #000;
$textColorInverse: #fff;