@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Light.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
	font-family: 'Telavision';
	src: url('../fonts/Telavision.ttf');
}

html,
body {
	height: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Roboto', 'Verdana', sans-serif;
	margin: 0;
	position: relative;
	background-color: $windowBackground;
	color: $textColorPrimary;
}

a {
	color: inherit;
	text-decoration: inherit;
	outline: none;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

img {
	&.size-medium {
		margin: $gridUnit $gridUnit*2;
	}
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.container {
	width: $containerWidth;
	margin: 0 auto;
}

.logo {
	width: 100px;
	fill: $colorPrimary;
}

.synth-circle {
	position: relative;
	overflow: hidden;
	
	svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	circle {
		fill: rgba(#fff, .1);
	}
}

.transition {
	transition: all .2s ease;
}