html,
body {
	height: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Lato', 'Helvatica', sans-serif;
	margin: 0;
	position: relative;
	background-color: $windowBackground;
	color: $textColorPrimary;
}

a {
	color: inherit;
	text-decoration: inherit;
	outline: none;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

img {
	&.size-medium {
		margin: $gridUnit $gridUnit*2;
	}
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.bg-cover {
	width: 100%;
	height: 100%;
}

.container {
	width: $containerWidth;
	margin: 0 auto;
	position: relative;
}

.cover {
	overflow: hidden;
	position: relative;
}

.logo {
	width: 100px;
	fill: $colorPrimary;
}

.synth-circle {
	position: relative;
	overflow: hidden;
	
	svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	circle {
		fill: rgba($colorPrimaryLight, .1);
	}
}

.synth-img-cover {
	position: relative;
	width: 100%;
	height: auto;
}

.title {
	padding: $gridUnit/2 0;
}

.transition {
	transition: all .2s ease;
}