$zIndex: (
	modal: 1000,
	nav: 900,
	content: 800,
	featured: 700,
	bottom: 0
);

@mixin height($height) {
	height: $height;
	line-height: $height;
}

@mixin animation($duration, $delay) {
	transition-duration: $duration;
	transition-delay: $delay;
}

@mixin containerMiddle() {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin pseudoClear() {
	content: '';
	display: table;
	clear: both;
}

@mixin shadow() {
	box-shadow: 0 2px 5px rgba(#000, 0.26);
}
