#footer {
	width: 100%;
	height: 200px;
	position: relative;
	background-color: $windowBlack;
	color: $textColorInverse;
	
	.container {
		padding: $gridUnit *2;
		height: inherit;
	}
	
	.copyright {
		font-size: .8em;
		color: rgba($textColorInverse, .4);
		position: absolute;
		bottom: $gridUnit * 3;
		width: inherit;
		border-top: 1px solid $windowBorder;
		padding-top: $gridUnit;
	}
}