body.home {
	#cover {
		position: relative;
		width: 100%;
		height: 500px;
		background: transparent url(http://lorempixel.com/1300/500) no-repeat center top/100% auto;
		
		&:after {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(#000, .5);
		}
		
		.logo {
		}
		
		.tagline {
			
		}
	}
	
	#about-us {
		position: relative;
		width: $containerWidth;
		height: 300px;
		background-repeat: no-repeat;
		background-size: 100% auto;
		
		.right {
			position: absolute;
			text-align: center;
			right: 0;
			width: 50%;
			height: inherit;
			background-color: rgba($colorPrimary, .75);
		}
	}
	
	#our-work {
		@extend .transition;
		
		opacity: 0;
		
		@include animation(.4s, .05s);
		
		&.active {
			opacity: 1;
		}
		
		.work {
			position: relative;
			width: 330px;
			height: 350px;
			margin: $gridUnit*2;
			overflow: hidden;
			
/*
			&:nth-of-type(3) {
				clear: both;
			}
			
			&:nth-of-type(2),
			&:nth-of-type(3) {
				width: 250px;
				height: 150px;
			}
			
			&:nth-of-type(4),
			&:nth-of-type(5) {
				width: 300px;
			}
*/
		}
		
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}