body.home {
	.title {
		font-size: 2.7em;
		text-align: center;
		padding: $gridUnit*2 0;
	}

	#cover {
		position: relative;
		width: 100%;
		height: 100%;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		overflow: hidden;
		
		&:after {
			background: transparent url(../images/waves.png) no-repeat center top/cover;
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: .7;
		}

		.logo {
		}
		
		.tagline {
			position: absolute;
			z-index: map-get($zIndex, content);
			color: $textColorPrimaryInverse;
			font-size: 4em;
			width: 100%;
			text-align: center;
			top: 50%;
			transform: translate(0, -50%);
			
		}
	}
	
	#about-us,
	#our-services {
		position: relative;
		width: 100%;
		
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		
		.wrapper {
			position: absolute;
			text-align: center;
		}
		
		.content {
		}
	}
	
	#about-us {
		height: 40%;
		min-height: 400px;
		
		.left,
		.right {
			width: 50%;
			height: 100%;
			float: left;
			text-align: center;
			position: relative;
		}
		
		.left {
			background-color: $colorPrimary;
			font-size: 4em;
		}
		
		.right {
			.wrapper {
				@include containerMiddle();
			}
		}
		
		.right:after {
			@include pseudoClear();
		}
	}

	#our-services {
		height: 60%;
		min-height: 600px;
		.wrapper {
			color: $textColorPrimaryInverse;
			z-index: map-get($zIndex, content);
		}
		
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(#000, .8);
		}
	}	
/*
	#our-services {
		position: relative;
		width: 100%;
		height: 500px;
		
		.left {
			
		}
		
		.right {
			right: 0;
			background-position: right center;
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
		}
	}
*/
	#our-work {
		@extend .transition;
		@extend .container;
		
		padding-bottom: $gridUnit*4;
			
		.work {
			@extend .transition;
			
			position: relative;
			width: calc(25% - 16px);
			height: 300px;
			overflow: hidden;
			background-color: black;
			opacity: 0;
			
			@include animation(.4s, .05s);
			
			.title {
				position: absolute;
			}
/*
			.title {
				@extend .transition;
				
				position: relative;
				width: 100%;
				height: 100%;
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				margin: $gridUnit*4 auto;
				z-index: map-get($zIndex, content);
				transform: scale(2);
				opacity: 0;
			}
*/
			
			.thumbnail {
				position: absolute;
				@include containerMiddle();
			}
			
			&.active {
				opacity: 1;
			}
			
			&:after {
				@extend .transition;
				
				transition-duration: .5s;
				content: '';
				position: absolute;
				background-color: rgba($colorPrimary, .8);
				opacity: 0;
			}
			
			&:hover {
/*
				.title {
					opacity: 1;
					transform: scale(1);
				}
*/
				&:after {
					opacity: 1;
				}
				
				&.top,
				&.bottom {
					&:after {
						height: 100%;
					}
				}
				
				&.left,
				&.right {
					&:after {
						width: 100%;
					}
				}
			}
			
			&.top,
			&.bottom {
				&:after {
					height: 0;
					width: 100%;
				}
			}
			
			&.left,
			&.right {
				&:after {
					width: 0;
					height: 100%;
				}
			}
			
			&.full {
				&:after {
					bottom: 0;
				}
			}
			
			&.small {
				height: calc((300px - 16px)/2);
				
				&:after {
					left: 0;
				}
			}
			
			&.thin {
				width: calc(20% - 16px);
				
				&:after {
					top: 0;
				}
			}
			
			&.wide {
				width: 384px;
				height: calc((300px - 16px)/2);
				
				&:after {
					right: 0;
				}
			}
		}
	}
}