#nav {
	@extend .transition;
	
	transition-duration: .35s;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: map-get($zIndex, nav);
	color: $textColorPrimaryInverse;
	text-decoration: none;
	font-size: 1.2em;
	font-family: 'Lato';
	letter-spacing: 2px;
	overflow: hidden;

	@include height($navHeight*.7);
	
	.container {
		width: $navWidth;
	}
	
	.menu {
		float: left;
		width: $navWidth/2;
		height: inherit;
		margin: 0 auto;
		padding: 0;
		list-style: none;
		
		li {
			float: left;
			position: relative;
			
			a {
				@extend .transition;
				
				margin: 0 $gridUnit*2;
				border-width: 0 0 1px 0;
				border-style: solid;
				border-color: rgba($textColorPrimaryInverse, 0);
				
				&:hover {
					border-color: rgba($textColorPrimaryInverse, 1);
				}
			}
		}
	}
	
	&.ui-scrollfix {
		background-color: rgba($windowBackground, .98);
		border-bottom: 1px solid $windowBorder;
		
		@include height($navHeight);
		@include shadow();
		.menu {
			li {
				border-color: $windowBorder;
				border-width: 0 1px 0 0;
				border-style: solid;
				
				a {
					color: $textColorPrimary;
					margin: 0;
					padding: 0 $gridUnit*2;
					width: 100%;
					height: 100%;
					display: block;
					border: 0 none;
					
					&:hover {
						background-color: rgba($textColorPrimary, .05);
					}
				}
			}
		}
	}
	
	#menu-social {
		letter-spacing: normal;
		
		li {
			font-size: 0px;
			float: right;
			
			&:last-of-type {
				border-width: 0 1px;
			}

			&.facebook {
				a {
					@extend .icon-facebook;
				}
			}
				
			&.twitter {
				a {
					@extend .icon-twitter;
				}
			}
			
			&.instagram {
				a {
					@extend .icon-instagram;
				}
			} 
			
			a:before {
				@extend .icon;
			}
		}
	}
}