#nav {
	@extend .transition;
	
	position: fixed;
	top: 0;
	width: 100%;
	z-index: map-get($zIndex, nav);
	color: $textColorPrimaryInverse;
	text-decoration: none;
	font-size: 1.2em;
	font-family: 'Lato';
	letter-spacing: 2px;
	

	@include height($navHeight*.7);
	
	&.ui-scrollfix {
		background-color: $windowBackground;
		border-bottom: 1px solid $windowBorder;
		
		@include height($navHeight);
		
		li {
			border: 1px solid $windowBorder;
		}
		
		a {
			color: $textColorPrimary;
		}
	}
	
	.container {
		width: $navWidth;
	}
	
	.menu {
		float: left;
		width: $navWidth/2;
		height: inherit;
		color: $textColorPrimaryInverse;
		margin: 0 auto;
		padding: 0;
		list-style: none;
		
		li {
			float: left;
			padding: 0 $gridUnit*2;
			position: relative;
			overflow: hidden;
			
			a {
				@extend .transition;
				
				border-width: 0 0 1px 0;
				border-style: solid;
				border-color: rgba($textColorPrimaryInverse, 0);
				
				&:hover {
					border-color: rgba($textColorPrimaryInverse, 1);
				}
			}
		}
	}
	
	#menu-social {
		li {
			float: right;
			width: $gridUnit * 5;
			height: $gridUnit * 5;
			display: block;
			text-align: center;
			
			
			&.facebook {
				a {
					@extend .icon-facebook;
				}
			}
				
			&.twitter {
				a {
					@extend .icon-twitter;
				}
			}
			
			&.instagram {
				a {
					@extend .icon-instagram;
				}
			} 
			
			a {
				@extend .icon;
				display: block;
				width: inherit;
				height: inherit;
				border: 0 none;
			}
		}
	}
}