body.single {
	padding-top: $navHeight;

/*
	.featured-image {
		position: relative;
		width: 100%;
		height: 500px;
		background-size: 100% auto;
		background-position: center top;
		z-index: map-get($zIndex, featured);
	}
	
	.content {
		@extend .container;
		
		position: relative;
		background-color: $windowBackground;
		margin-top: -300px;
		padding: $gridUnit $gridUnit*2;
		display: block;
		
		z-index: map-get($zIndex, content);
		
		.title {
			position: absolute;
			top: -100px;
			color: $textColorPrimaryInverse;
		}
		
		.article-overlay {
			position: relative;
			left: 50%;
			transform: translate(-50%, 0);
			display: block;
			
			img.size-full {
				width: 100%;
				height: auto;
			}
		}
	}
*/
}