#contact-us {
	@extend .transition;
	
	position: relative;
	transition-duration: .4s;
	transition-delay: .25s;
	width: 100%;
	/* min-height: $gridUnit * 25; */
	/* padding: $gridUnit*3; */
	max-height: 0;
	padding: 0;
	background: $colorPrimary url(../images/waves.png) no-repeat center top/cover;
	color: $textColorPrimaryInverse;
		
	&.active {
		max-height: 500px;
		padding: $gridUnit * 2;
	}
	
	.title {
		text-transform: uppercase;
		text-align: center;
	}
	
	.content {
		padding: $gridUnit;
		text-align: center;
	}
	
	.link {
		border-color: $textColorPrimaryInverse;
	
		&:hover {
			background-color: rgba($textColorPrimaryInverse, .1);
		}
	}
}